.DS_Store
objdir
toolsdir
*-build
autoconf-2.64.tar.bz2
autoconf-2.64/
automake-1.11.1.tar.bz2
automake-1.11.1/
avr-binutils.tar.bz2
binutils
avr-gcc.tar.bz2
gcc
avr-gdb.tar.bz2
gdb
avr-libc.tar.bz2
avr-libc/
avr8-headers.zip
avr8-headers/
gmp-5.0.2.tar.bz2
mpc-0.9.tar.gz
mpfr-3.0.0.tar.bz2
avr
