.DS_Store
*.bz2
*.tar.*
*.zip
objdir*
toolsdir
*-build
autoconf-2.64/
automake-1.11.1/
avr-libc-1.8.0/
avr8-headers-6.2.0.334/
binutils-2.25
gcc-4.9.2
avrdude-6.1
libusb-1.0.20
libusb-compat-0.1.5
gdb-7.8
avr
tmp
